
@import url('https://fonts.googleapis.com/css?family=Raleway:200|Ubuntu:700&display=swap&subset=latin-ext');

/*Settings*/
$font-color-main: rgb(255, 255, 255);
$button-color: rgb(0, 255, 0);
$backgroung-color-gray: rgba(228, 228, 228, 0.404);
$font-family-first: 'Raleway', sans-serif;
$font-family-second: 'Ubuntu', sans-serif;

/*Global*/

* , *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: $font-color-main;
    
}
  h1 {
        font-size: 50px;
        font-weight: 100;
        font-family: $font-family-first;
    }

.container { 
    background-color: white;
    max-width: 100vw;
    height: 1000px;
    padding: 0 100px;
    color: black;
    font-family: $font-family-first;
}

/*Header*/

header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    

    .splash-image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        
    }
    .navigation { 
        position: absolute;
        nav {
            display: flex;
            font-family: $font-family-second;
            align-items: center;
            ul {
                li {
                    display: inline;
                    padding: 30px;
                }
            }
        }    
    }
}

nav {
    a {
        text-decoration: none;
        color: $font-color-main;
    }
    p {
        font-size: 30px;
    }
    span {
        color: $button-color;
    }
}

.btn-one {
    border: solid 2px;
    padding: 12px 40px;
    border-radius: 50px;
    text-decoration: none;
    color: $font-color-main;
}
.btn-second {
    background-color: $button-color;
    padding: 12px 40px;
    border-radius: 50px;
    text-decoration: none;
    color: $font-color-main;
    font-weight: bold;
    
    
}

.splash-inner {
    position: absolute;
    text-align: center;
    transform: translateY(150%);
    font-weight: lighter;
    
    h3 {
        margin-bottom: 80px;
    }
    span {
        font-weight: 700;
    }
}

/*About us section*/

.about {
     text-align: center;
     display: flex;
     flex-direction: column;
     display: relative;
     h1::after {
         content: '';
         color: $button-color;
         border: solid 1px;
         display: block;
         width: 50px;
         position: absolute;
     }
     h3 {
            color: gray;
         }
     .title {
         margin: 30px 0;
     }
}

.cards {
    display: flex;
    
    .card {
        padding: 50px 20px;
        .icon {
          padding: 50px 0;
           
                i {
                    position: relative;
                    display:flex;
                    font-size: 50px;
                    padding: 80px 0;
                    align-items: center;
                    justify-content: center;
                }
        }
         i::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: gray;
            border-radius: 100%; 
            opacity: 0.5;
            display: block;
        }
    }
}

/*Tight Containers*/

.tight-container {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    .title {
        flex: 50%;
        line-height: 2;
        padding: 0 60px 0 20px;
        h3 {
            padding-bottom: 50px;
        }
    }
    .container-image {
        flex: 50%;
        img {
            width: 100%;
            object-fit: cover;
            padding: 20px;
        }
    }
}

.tight-one {
    background-color: rgba(228, 228, 228, 0.404);
}

.tight-three {
    background: black;
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: center;
    .title {
        position: absolute;
        color: $font-color-main;
        .page-title {
        font-size: 30px;
            span {
                color: $button-color;
            }
        }
        p {
            text-align: center;
        }
    }
    .title::before {
                content: "";
                position: absolute;
                width: 150px;
                height: 150px;
                background-repeat:no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url('https://i.postimg.cc/KvkCdmNx/human-skull.jpg');
                border-radius: 100%; 
                display: block;

    }
    img {
        max-height: 60vh;
        object-fit: cover;
        width: 100%;
        opacity: 0.15;
    }
}

/*Our services*/

.our-services {
    background-color: rgba(228, 228, 228, 0.404);
    margin: 0;
    padding-top: 50px;
    text-align: center;

     .page-title::after {
         content: '';
         color: $button-color;
         border: solid 1px;
         display: block;
         width: 50px;
         position: absolute;
         
    }
}
.services {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    .card {
        display: flex;
        padding: 50px 0;
        text-align: left;
        justify-content: center;

        .icon {
          padding: 50px 55px;
            i {
                position: relative;
                display:flex;
                font-size:35px;
                align-items: center;
                justify-content: center;
                color: $button-color
            }
        }
         i::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: $font-color-main;
            border-radius: 100%; 
            opacity: 0.5;
            display: block;
        }
        .card-title {
            max-width: 80%;
        }
    }
}

/*Meet our team*/

.our-team {
    margin-top: 50px;
    text-align: center;
    padding: 0;
    height: auto;

    .page-title::after {
         content: '';
         color: $button-color;
         border: solid 1px;
         display: block;
         width: 50px;
         position: absolute;
    }
}
.photos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 50px 0;
    .photo {
        width: 400px;
        height: 450px;
        flex-grow: 2;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

/*Pricing*/

.pricing {
    background-color: $backgroung-color-gray;
}

.price-card {
    background-color: $font-color-main;
    margin: 20px;
    border-radius: 5px;
    line-height: 2;
    .pricing-text {
       
        padding: 20px;
    }
    .purchase {
        display: flex;
        background-color: $button-color;
        border-radius: 0 0 5px 5px;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        color: $font-color-main;
        font-weight: 700;
    }
}

/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .copyright {
        display: inline-block;
    }

    ul li {
        display: inline-block;
        text-decoration: none;
    }
}
